<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="Women">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Men">Men</a>
      </li>
      <li class="nav-rightitem">
        <a class="nav-link" routerLink= "myaccount">MyAccount</a>
      </li>
      <li class="nav-rightitem">
          <a class="nav-link" routerLink="signup">Sign-Up</a>
      </li>
  </ul>
</nav>
<router-outlet></router-outlet>