<!-- <body>
    <h1 style = "text-align:center; padding-right:50px ;font-weight:normal; padding-top:50px">Create a New Account</h1>
    <b><h3 style=" text-align:center;font-size:25px ;font-weight:50;padding-right:200px">It's quick and easy.</h3></b>
    <form>
        <div class="form-group centered">
           <input type ="text" placeholder="First Name">
        </div>
        <div class="form-group centered">
         <input type ="text" placeholder="Email">
        </div>
        <div class="form-group centered">
         <input type ="text" placeholder="New Password">
        </div>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        <div class = "btn">
            <button type="button" onclick="alert('Hello world!')">Sign Up</button>
        </div>
    </form>
</body>
 -->
