body {
    text-align: center;
}
form {
    display: inline-block;
    padding-top: 40px;
}
input{
font-size : 15px;
border-radius: 5px;
border: 1px solid #A9A9A9;
padding: 20px;
width: 400px;
height: 10px;
}
button{
    padding:5px 50px;
    background-color:#418D84;
    border-radius: 5px;
    cursor: pointer;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.btn{
    padding-right:250px;
}